<div>
  <form class="form-card">
    <fieldset class="form-fieldset">
      <legend class="form-legend">Register :</legend>
      <div class="form-element form-input">
        <input id="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9" class="form-element-field" placeholder="Please fill in your first name"
          type="text" required />
        <div class="form-element-bar"></div>
        <label class="form-element-label" for="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9">First Name</label>
      </div>
      <div class="form-element form-input">
        <input id="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9" class="form-element-field" placeholder="Please fill in your last name"
          type="text" required />
        <div class="form-element-bar"></div>
        <label class="form-element-label" for="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9">Last Name</label>
      </div>
      <div class="form-element form-input">
        <input id="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9" class="form-element-field" placeholder="Please fill in your username"
          type="text" required />
        <div class="form-element-bar"></div>
        <label class="form-element-label" for="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9">User Name</label>
      </div>
      <div class="form-element form-input">
        <input id="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9" class="form-element-field" placeholder="Please fill in your email"
          type="email" required />
        <div class="form-element-bar"></div>
        <label class="form-element-label" for="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9">Email</label>
      </div>
      <div class="form-element form-input">
        <input id="field-uyzeji-352rnc-4rv3g1-bvlh88-9dewuz" class="form-element-field" placeholder="Please fill in your password" type="password"
          required />
        <div class="form-element-bar"></div>
        <label class="form-element-label" for="field-uyzeji-352rnc-4rv3g1-bvlh88-9dewuz">Password</label>
      </div>
      <div class="form-element form-input">
        <input id="field-uyzeji-352rnc-4rv3g1-bvlh88-9dewuz" class="form-element-field" placeholder="please confirm your password" type="password"
          required />
        <div class="form-element-bar"></div>
        <label class="form-element-label" for="field-uyzeji-352rnc-4rv3g1-bvlh88-9dewuz">Confirm Password</label>
      </div>
    </fieldset>
    <div class="form-actions">
      <button class="form-btn" type="submit">register</button>
      <button class="form-btn-cancel -nooutline" type="reset" (click)='homePage()'>back to home page</button>
    </div>
  </form>
</div>
